* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background: rgb(23,22,20);
  background: linear-gradient(0deg, rgba(23,22,20,1) 0%, rgba(13,65,41,1) 50%, rgba(122,176,151,1) 100%);
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 3rem 5rem;
}

.card p {
  padding-top: 1rem;
  line-height: 150%;
}

.expand {
  width: 35rem;
}